<div class=" m-20 justify-items-center grid">
    <div class="grid-flow-col">
        <img class="grid-poster" src="{{attributes.posterImage.tiny}}" id="animeHomePosterImage">
        <div class="px-6 py-4">
            {{#if attributes.titles.en}}
            <div class="font-bold text-m mb-2 overflow-ellipsis" id="animeHomeTitle">{{attributes.titles.en}}</div>
            {{else}}
            <div class="font-bold text-m mb-2  overflow-ellipsis" id="animeHomeTitle">{{attributes.titles.en_jp}}</div>
            {{/if}}
        </div>
    </div>
</div>