{{#if reviews.length}}
<section class= "justify-items-center">
    <h2>Your Reviews</h2>
    <ol class="review-list">
        {{#each reviews as |review|}}
        <li>
            {{> dashboard-review-info review}}
        </li>
        {{/each}}
    </ol>
</section>   
{{else}}
    <section class= "justify-items-center">
        <h3> No Reviews Written</h3>
    </section>
{{/if}}
<button type="submit"><a href="/dashboard/create">Add New Review</a></button>