    <div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">
      <!--Card 1-->
      <div class="rounded overflow-hidden shadow-lg">
        <!-- <img class="w-full" src="/river.jpg" alt="River"> -->
        <div class="px-6 py-4">
          <!-- <div class="font-bold text-xl mb-2">River</div> -->
          <div class="block">
            <span class="text-gray-700">Genres</span>
            <div class="mt-2">
              <div>
                <label class="inline-flex items-center">
                  <input type="checkbox" class="form-checkbox">
                  <span class="ml-2">Action</span>
                </label>
              </div>
              <div>
                <label class="inline-flex items-center">
                  <input type="checkbox" class="form-checkbox">
                  <span class="ml-2">Comedy</span>
                </label>
              </div>
              <div>
                <label class="inline-flex items-center">
                  <input type="checkbox" class="form-checkbox">
                  <span class="ml-2">Fantasy</span>
                </label>
              </div>
              <div>
                <label class="inline-flex items-center">
                  <input type="checkbox" class="form-checkbox">
                  <span class="ml-2">Romance</span>
                </label>
              </div>
              <div>
                <label class="inline-flex items-center">
                  <input type="checkbox" class="form-checkbox">
                  <span class="ml-2">Science Fiction</span>
                </label>
              </div>
              <div>
                <label class="inline-flex items-center">
                  <input type="checkbox" class="form-checkbox">
                  <span class="ml-2">Slice of life</span>
                </label>
              </div>
              <div>
                <label class="inline-flex items-center">
                  <input type="checkbox" class="form-checkbox">
                  <span class="ml-2">horror</span>
                </label>
              </div>
            </div>
            <div>
              <label class="inline-flex items-center">
                <input type="checkbox" class="form-checkbox">
                <span class="ml-2">Mystery</span>
              </label>
            </div>
          </div>
          <div>
            <label class="inline-flex items-center">
              <input type="checkbox" class="form-checkbox">
              <span class="ml-2">Sports</span>
            </label>
          </div>
          <div>
            <label class="inline-flex items-center">
              <input type="checkbox" class="form-checkbox">
              <span class="ml-2">Adventure</span>
            </label>
          </div>
          <div>
            <label class="inline-flex items-center">
              <input type="checkbox" class="form-checkbox">
              <span class="ml-2">Drama</span>
            </label>
          </div>
        </div>
        <!-- <div class="px-6 pt-4 pb-2">
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#summer</span>
        </div> -->
      </div>
      <!--Card 2-->
      <div class="rounded overflow-hidden shadow-lg">
        <!-- <img class="w-full" src="/river.jpg" alt="River"> -->
        <div class="px-6 py-4">
          <!-- <div class="font-bold text-xl mb-2">River</div> -->
          <div class="block">
            <span class="text-gray-700">Rating</span>
            <div class="mt-2">
              <div>
                <label class="inline-flex items-center">
                  <input type="checkbox" class="form-checkbox" checked>
                  <span class="ml-2">All</span>
                </label>
              </div>
              <div>
                <label class="inline-flex items-center">
                  <input type="checkbox" class="form-checkbox">
                  <span class="ml-2">PG</span>
                </label>
              </div>
              <div>
                <label class="inline-flex items-center">
                  <input type="checkbox" class="form-checkbox">
                  <span class="ml-2">R</span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="px-6 pt-4 pb-2">
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#summer</span>
        </div> -->
      </div>
  
      <!--Card 3-->
      <div class="rounded overflow-hidden shadow-lg">
        <!-- <img class="w-full" src="/forest.jpg" alt="Forest"> -->
        <div class="px-6 py-4">
          <!-- <div class="font-bold text-xl mb-2">Forest</div> -->
          <div class="block">
            <span class="text-gray-700">season</span>
            <div class="mt-2">
              <div>
                <label class="inline-flex items-center">
                  <input type="checkbox" class="form-checkbox" checked>
                  <span class="ml-2">All</span>
                </label>
              </div>
              <div>
                <label class="inline-flex items-center">
                  <input type="checkbox" class="form-checkbox">
                  <span class="ml-2">Spring</span>
                </label>
              </div>
              <div>
                <label class="inline-flex items-center">
                  <input type="checkbox" class="form-checkbox">
                  <span class="ml-2">Summer</span>
                </label>
              </div>
              <div>
                <label class="inline-flex items-center">
                  <input type="checkbox" class="form-checkbox">
                  <span class="ml-2">Fall</span>
                </label>
              </div>
              <div>
                <label class="inline-flex items-center">
                  <input type="checkbox" class="form-checkbox">
                  <span class="ml-2">Winter</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="rounded overflow-hidden shadow-lg">
        <div class="px-6 py-4">
          <div class="block">
            <span class="text-gray-700">Year</span>
            <div class="mt-2">
              <div>
                <label class="inline-flex items-center">
                  <input type="checkbox" class="form-checkbox" checked>
                  <span class="ml-2">Ealier than 1940</span>
                </label>
              </div>
              <div>
                <label class="inline-flex items-center">
                  <input type="checkbox" class="form-checkbox">
                  <span class="ml-2">1940-1980</span>
                </label>
              </div>
              <div>
                <label class="inline-flex items-center">
                  <input type="checkbox" class="form-checkbox">
                  <span class="ml-2">1980-current</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>