{{!-- <input id="searchInput" placeholder="Anime Name">
<button id="searchBtn">Search</button> --}}
<div class="m-20 justify-items-center grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">

{{#each animes as |anime| }}
    {{> anime-card anime}}
{{/each}}

</div>