<form>
    <fieldset class="px-6 border-4 border-emerald-600 w-120 m-10">
        <legend class="text-green-200">Choose your anime's age rating. At least one must be chosen.</legend>
        <div class="flex items-center mb-4">
            <input id="ratingG" type="radio" name="ageRating" value="G" class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600">
            <label for="ageRating" class="block ml-2 text-sm font-medium text-green-200 dark:text-gray-300">
            G
            </label>
        </div>
        <div class="flex items-center mb-4">
            <input id="ratingPG" type="radio" name="ageRating" value="PG" class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600">
            <label for="ageRating" class="block ml-2 text-sm font-medium text-green-200 dark:text-gray-300">
            PG
            </label>
        </div>
        <div class="flex items-center mb-4">
            <input id="ratingR" type="radio" name="ageRating" value="R" class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:bg-gray-700 dark:border-gray-600">
            <label for="ageRating" class="block ml-2 text-sm font-medium text-green-200 dark:text-gray-300">
            R
            </label>
        </div>
    </fieldset>

    <fieldset class="px-6 border-4 border-emerald-600 w-120">
        <legend class="text-green-200">Choose your anime's genre. At least one must be chosen.</legend>
        <div class="flex items-center mb-4">
            <input id="actionBtn" type="radio" name="animeGenre" value="action" class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600">
            <label for="animeGenre" class="block ml-2 text-sm font-medium text-green-200 dark:text-gray-300">
            Action
            </label>
        </div>
        <div class="flex items-center mb-4">
            <input id="comedyBtn" type="radio" name="animeGenre" value="comedy" class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600">
            <label for="animeGenre" class="block ml-2 text-sm font-medium text-green-200 dark:text-gray-300">
            Comedy
            </label>
        </div>
        <div class="flex items-center mb-4">
            <input id="fantasyBtn" type="radio" name="animeGenre" value="fantasy" class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:bg-gray-700 dark:border-gray-600">
            <label for="animeGenre" class="block ml-2 text-sm font-medium text-green-200 dark:text-gray-300">
            Fantasy
            </label>
        </div>
        <div class="flex items-center mb-4">
            <input id="romanceBtn" type="radio" name="animeGenre" value="romance" class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:bg-gray-700 dark:border-gray-600">
            <label for="animeGenre" class="block ml-2 text-sm font-medium text-green-200 dark:text-gray-300">
            Romance
            </label>
        </div>
        <div class="flex items-center mb-4">
            <input id="sliceOfLifeBtn" type="radio" name="animeGenre" value="slice of life" class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:bg-gray-700 dark:border-gray-600">
            <label for="animeGenre" class="block ml-2 text-sm font-medium text-green-200 dark:text-gray-300">
            Slice of life
            </label>
        </div>
        <div class="flex items-center mb-4">
            <input id="horrorBtn" type="radio" name="animeGenre" value="horror" class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:bg-gray-700 dark:border-gray-600">
            <label for="animeGenre" class="block ml-2 text-sm font-medium text-green-200 dark:text-gray-300">
            Horror
            </label>
        </div>
        <div class="flex items-center mb-4">
            <input id="mysteryBtn" type="radio" name="animeGenre" value="mystery" class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:bg-gray-700 dark:border-gray-600">
            <label for="animeGenre" class="block ml-2 text-sm font-medium text-green-200 dark:text-gray-300">
            Mystery
            </label>
        </div>
        <div class="flex items-center mb-4">
            <input id="sportsBtn" type="radio" name="animeGenre" value="sports" class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:bg-gray-700 dark:border-gray-600">
            <label for="animeGenre" class="block ml-2 text-sm font-medium text-green-200 dark:text-gray-300">
            Sports
            </label>
        </div>
        <div class="flex items-center mb-4">
            <input id="adventureBtn" type="radio" name="animeGenre" value="adventure" class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:bg-gray-700 dark:border-gray-600">
            <label for="animeGenre" class="block ml-2 text-sm font-medium text-green-200 dark:text-gray-300">
            Adventure
            </label>
        </div>
        <div class="flex items-center mb-4">
            <input id="dramaBtn" type="radio" name="animeGenre" value="drama" class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:bg-gray-700 dark:border-gray-600">
            <label for="animeGenre" class="block ml-2 text-sm font-medium text-green-200 dark:text-gray-300">
            Drama
            </label>
        </div>
    </fieldset>

    <fieldset class="px-6 border-4 border-emerald-600 w-120">
        <legend class="text-green-200">Choose your anime's season. At least one must be chosen.</legend>
        <div class="flex items-center mb-4">
            <input id="springBtn" type="radio" name="animeSeason" value="spring" class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600">
            <label for="animeSeason" class="block ml-2 text-sm font-medium text-green-200 dark:text-gray-300">
            Spring
            </label>
        </div>
        <div class="flex items-center mb-4">
            <input id="summerBtn" type="radio" name="animeSeason" value="summer" class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600">
            <label for="animeSeason" class="block ml-2 text-sm font-medium text-green-200 dark:text-gray-300">
            Summer
            </label>
        </div>
        <div class="flex items-center mb-4">
            <input id="fallBtn" type="radio" name="animeSeason" value="fall" class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:bg-gray-700 dark:border-gray-600">
            <label for="animeSeason" class="block ml-2 text-sm font-medium text-green-200 dark:text-gray-300">
            Fall
            </label>
        </div>
        <div class="flex items-center mb-4">
            <input id="winterBtn" type="radio" name="animeSeason" value="winter" class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:bg-gray-700 dark:border-gray-600">
            <label for="animeSeason" class="block ml-2 text-sm font-medium text-green-200 dark:text-gray-300">
            Winter
            </label>
        </div>
    </fieldset>
    


     <button id="recommenFormSubmitBtn" type="submit" class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-10">Submit</button>
</form>

<script src="/js/recommendation.js"></script>