<div class="block justify-self-center">
    <img src="https://media.kitsu.io/anime/poster_images/12/tiny.jpg" id="animeHomePosterImage">
    {{#if attributes.titles.en}}
    <div class="font-bold text-m mb-2 overflow-ellipsis" id="animeHomeTitle">One Piece</div>
    {{else}}
    <div class="font-bold text-m mb-2  overflow-ellipsis" id="animeHomeTitle">One Piece</div>
    {{/if}}
</div>