{{!-- <section> --}}
    {{!-- <h2>Write A Review</h2>

    <form class="new-review-form">
        <div>
            <label for="review-title"> title </label>
            <input type="text" id="review-title" name="review-title"/>
        </div>
        <div>
            <label for="review-text"></label>
            <textarea id="review-text" name="review-text"></textarea>
        </div>
        <button type="submit" class="new-rev-btn">Post Review</button>
    </form> --}}
{{!-- </section> --}}


<div class=" m-10 justify-items-center grid">
    <div class="grid-flow-col">
        <img class="grid-poster" src="{{posterImage.tiny}}" id="animeHomePosterImage">
        <div class="px-6 py-4">
            {{!-- {{#if attributes.titles.en}} --}}
            <div class="font-bold text-m text-white mb-2 overflow-ellipsis" id="animeHomeTitle">{{synopsis}}</div>
            {{!-- {{else}} --}}
            <div class="font-bold text-m mb-2  text-white overflow-ellipsis" id="animeHomeTitle">{{attributes.titles.en_jp}}</div>
            {{!-- {{/if}} --}}
        </div>
    </div>
</div>

{{!-- <script src="/public/js/addReviewData.js"></script> --}}